<div class="body">
  {{#each this}}
  <section>
    <div class="meta">
      {{user.username}} on {{post.created_at}}
    </div>
    <div class="text">
      
    </div>
  </section>
  {{/each}}
</div>