<!DOCTYPE html>
<html lang="en-US">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book Worm</title>
    <link rel="stylesheet" href="/style.css">
</head>

<body>
    
    <header class="form-content">
        <h1>Book Worm</h1>
            <section id="links">
                {{#if loggedIn }}
                <a href="../">HomePage</a>
                <a href="../profile">Profile</a>
                <button class="button" id="logout" type="submit">Logout</button>
                {{else}}
                <a href="../">HomePage</a>
                <a href="../profile">Profile</a>
                <a href="../login">Login</a>
                {{/if}}
            </section>
    </header>
    
    <main>
        {{{body}}}
    </main>
    {{#if loggedIn}}
    <script src="/javascript/logout.js"></script>
    {{/if}}
</body>

</html>