<article id="top-books">
  <a href="/profile"> Back to Profile</a>
  <h2>
    Here you can edit your post!
  </h2>
  <form id="edit-post-form" class="search">
    <div id="results">
      <input class="search" name="post-title" type="text" value="{{post.title}}" />
    </div>
    <div>
      Created on {{post.created_at}}
      |
      <a href="/post/{{post.id}}">{{post.comment.length}}</a>
    </div>
    <button id="button"  type="submit">Save post</button>
    <button type="submit" id="button" class="delete-post-btn">Delete post</button>
  </form>
</article>

<form id="comment-form"  class="search">
  <div>
    <input id="comment-input" class="search" type="text"></input>
  </div>

  <div>
    <button class="button"  type="submit">add comment</button>
  </div>
</form>

<div id="top-books">
{{> comments post.comments}}
</div>

<script src="/javascript/edit-post.js"></script>
<script src="/javascript/delete-post.js"></script>
<script src="/javascript/comment.js"></script>