<form class="book-search-form"  id="results">
         <section id="top-books">
            <h2>search for any book!</h2>
            <div class="search">
                <input id="search-input" type="text" placeholder="enter a book title...">
                <button class="button" id="search-btn" type="submit">Search</button>
            </div>

            <h2>top books:</h2>

        </section>
        <div id="search-results">
           
        </div>
       
</form>

<script src="/javascript/books.js"></script>

<ol id="results" >
  {{#each posts as |post|}}
  <li>
    {{> post-data post }}
    
  </li>
  {{/each}}
</ol>