<form id="results">
         <section id="top-books">
            <h2>search for any book!</h2>
            <div class="search">
                <input id="search" type="text" placeholder="enter a book title...">
                <button id="button" type="button">Enter</button>
            </div>

            <h2>top books:</h2>

        </section>
        <div id="results"></div>
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        <script src="javascript/books.js"></script>
</form>

<ol id="results"">
  {{#each posts as |post|}}
  <li>
    {{> post-data post }}
    
  </li>
  {{/each}}
</ol>