<body class="form-content">
<section class="container-forms">
            <div class="form-login">
                <div class="form-data">
                    <!--header-->
                    <h2>login</h2>
                    <!--login inputs-->
                    <form class="login-form" >
                        <div class="field input">
                            <input type="email" placeholder="email" class="email-input">
                        </div>

                        <div class="field input">
                            <input type="password" placeholder="password" class="pw-input">
                            <!--good idea to have 'hide pw icon'-->
                        </div>

                        <div >
                            <button id="button"  class="login-btn" type="submit">Log in</button>
                        </div>
                    
                    </form>
                    <!--create account/sign-up-->
                    <form  id="sign-up" class="signup-form">
                        <h2>Sign up</h2>
                        <div class="field input">
                            <input type="text" placeholder="username" class="input" id="username-signup">
                        </div>
                        <div class="field input">
                            <input type="text" placeholder="email" class="input" id="email-signup">
                        </div>
                        <div class="field input">
                            <input type="text" placeholder="create a password" class="input" id="password-signup">
                        </div>

                        <div class="signup-btn">
                            <button class="button" type="submit">Create Account</button>
                        </div>


                    </form>
                </div>
            </div>
        </section>
</body>

<script src="javascript/login.js"></script>
