<body>
<section class="container-forms">
            <div class="form-login">
                <div class="form-content">
                    <!--header-->
                    <header>login</header>
                    <!--login inputs-->
                    <form >
                        <div class="field input">
                            <input type="email" placeholder="email" class="email-input">
                        </div>

                        <div class="field input">
                            <input type="password" placeholder="password" class="pw-input">
                            <!--good idea to have 'hide pw icon'-->
                        </div>

                        <div class="form-link">
                            <a href="#" class="forgot-pw">Forgot Password?</a>
                        </div>

                        <div >
                            <button class="login-btn">Log in</button>
                        </div>
                    
                        <div class="form-link">
                            <span>Don't Have an Account? <a href="#" class="sign-up">sign up!</a></span>
                        </div>
                    </form>
                    <!--create account/sign-up-->
                    <form class="form-hidden" id="sign-up">
                        <header>Sign up</header>
                        <div class="field input">
                            <input type="text" placeholder="username" class="input" id="username-signup">
                        </div>
                        <div class="field input">
                            <input type="text" placeholder="email" class="input" id="email-signup">
                        </div>
                        <div class="field input">
                            <input type="text" placeholder="create a password" class="input" id="password-signup">
                        </div>

                        <div class="signup-btn">
                            <button class="signup-btn">Create Account</button>
                        </div>


                    </form>
                </div>
            </div>
        </section>
</body>

<script src="/javascript/login.js"></script>
