{{#if loggedin}}
<header>
    <div>
       <h1>Book Worm</h1> 
    </div>

    <div>
        <button class='drpbtn'>
             Drop Down
        </button>
        <div class='dropdown-content'>
            <button id="logout">Logout</button>
            <a href = '/views/layouts/main.handlebars'>Main Page</a>
        </div>
    </div>
</header>


<div>
    <section class="profile-wrapper">

       <!-- Profile handlebar goes here -->
       <h3>{{user.username}}</h3>
       <h4>{{user.email}}</h4>

    </section>
   

    <section class="feed-wrapper">
    
        <!--Feed handlebar.js goes here-->
        {{ feed }}
        
    </section>
</div>
<script src="../public/javascript/logout.js"></script>
<script src="../public/javascript/logout.js"></script>
{{/if}}