<section class="field">
  <h3>Create New Post</h3>

  <form id="new-post-form"  class = "search">
    <div>
      <label for="post-title">Title</label>
      <input type="text" id="post-title" name="post-title" />
      <label for="post-author">Author</label>
      <input type="text" id="post-author" name="post-author" />
      <label for="post-isbn">ISBN</label>
      <input type="text" id="post-isbn" name="post-isbn" />
    </div>
    <button type="submit" id="button" class="create-post-btn">Create</button>
  </form>
</section>

{{#if posts.length}}
<section id = 'top-books'>
  <h2>Your Posts</h2>
  <ol>
    {{#each posts as |post|}}
    <li>
      {{> post-data post}}
      <a href="/profile/edit/{{post.id}}" class="edit-link">Edit post</a>
      {{> comments post.comments}}
    </li>
    {{/each}}
  </ol>
</section>
{{/if}}

<script src="/javascript/add-post.js"></script>